[board_pins]
aliases:
  # EXP1 header
  EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
  EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

######################################################################
# "RepRapDiscount 128x64 Full Graphic Smart Controller" type displays
######################################################################

#[display]
#lcd_type: st7920
#cs_pin: EXP1_7
#sclk_pin: EXP1_6
#sid_pin: EXP1_8
#encoder_pins: ^EXP1_5, ^EXP1_3
#click_pin: ^!EXP1_2

#[output_pin beeper]
#pin: EXP1_1
#pwm: True
#value: 0 #   Silent at power on
#shutdown_value: 0 #   Disable at emergency shutdown
#cycle_time: 0.001

#[output_pin beeper]
#pin: EXP1_1

#[display]
#lcd_type: st7920
#cs_pin: PB8
#sclk_pin: PB9
#sid_pin: PD6
#encoder_pins: ^PA10, ^PA9
#click_pin: ^!PA15
#
#[output_pin beeper]
#pin: PB5

[virtual_sdcard]
path: /home/paul/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

###
### Disable stuff that isn't needed
###

# Disable octoprint from main menu
#[menu __main __octoprint]
#type: disabled

# Okay just delete me
# Shift virtual sdcard  to bottom of menu
#[menu __main __sdcard]
#type: disabled

##type: vsdlist
##enable: {('virtual_sdcard' in printer)}
##name: SD Card
##index: 6
